<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jay Im - Flask Auth practice</title>
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">

                            <a class="navbar-item" id="home" href="/" style="margin-right: 10px;">Home</a>
                            {% if current_user.is_authenticated %}
                            <a class="navbar-item" id="home" href="/profile" style="margin-right: 10px;">Profile</a>
                            <a class="navbar-item" id="logout" href="/logout" style="margin-right: 10px;">Logout</a>
                            {% else %}
                            <a class="navbar-item" id="login" href="/login" style="margin-right: 10px;">Login</a>
                            <a class="navbar-item" id="signup" href="/signup" style="margin-right: 10px;">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>